 
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">

</div>
		
		
		
		
<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
<h1><center>Welcome</center></h1>
<%= form_for(:user,url: sessions_path) do |f| %>

	<div class="field"><%= f.label :Username %><br/><%= f.text_field :username, class: "form-style" %></div>

	<div class="field"><%= f.label :Password %><br/><%= f.password_field :password,class: "form-style" %></div>

	<div  class="actions" > <%=  f.submit "Login" ,class: "login pull-right"%> </div>
     <div ><%= link_to 'Sign up', signup_path %></div>


<% end %>	


</div>
</div>
</body>
</html>