<p id="notice"><%= notice %></p>

<h3 style="text-align: center">
  <%= @slide.lecture.name %>
</h3>

<div class="dropdown" style="text-align: center">
  <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
    <%= "page #{@slide.page_number}"%>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" style="margin-left: 43%;">
    <% @lecture.slides.each do |slide|%>
      <% if slide.page_number == @slide.page_number %>
      <% else %>
        <li><a href=<%= slide.page_number %>><%= "page #{slide.page_number}" %></a></li>
        <% end %>
    <% end %>
  </ul>
  <span><%= " of #{@lecture.slides.count}" %></span>
</div>

<br>

<div class="slide-container">

  <%= link_to [@lecture, @slide.previous], id: "prev" do %>
    <div class="arrow">&#8249;</div>
  <% end %>

  <div class="slide">
    <%= link_to image_tag(@slide.path), [@lecture, @slide.next]%>
  </div>

  <%= link_to [@lecture, @slide.next], id: "next" do%>
    <div class="arrow">&#8250;</div>
  <% end %>
</div>
<br>
<div class= "container text-center">
    <%= link_to like_slide_path(@slide,{lecture_id: @lecture.id}),class: "btn btn-s btn-success" , method: :put do %>
    <span class="glyphicon glyphicon-thumbs-up"></span> like
    <%= @slide.get_upvotes.size %>
    <% end %>

    <%= link_to dislike_slide_path(@slide,{lecture_id: @lecture.id}),class: "btn btn-s btn-danger", method: :put do %>
    <span class="glyphicon glyphicon-thumbs-down"></span> dislike
    <%= @slide.get_downvotes.size %>
    <% end %>
</div>


<div class="comments">
  <div>
    <%= render @slide.comments.order(created_at: :asc) %>
  </div>
  <%= render '/comments/form' %>
</div>
</br>

<%= link_to 'Back', @lecture %>
