<p id="notice"><%= notice %></p>

<p style="text-align: center">
  <strong>Lecture:</strong>
  <%= @slide.lecture.name %>
</p>

<div class="page_number" style="text-align: center;">
  <h2> <%= "Page #{@slide.page_number} of #{@slide.lecture.slides.count}" %> </h2>
</div>

<div class="slide-container">

  <%= link_to [@lecture, @slide.previous], id: "prev" do %>
    <div class="arrow">&#8249;</div>
  <% end %>

  <div>
    <%= link_to image_tag(@slide.path), [@lecture, @slide.next]%>
  </div>

  <%= link_to [@lecture, @slide.next], id: "next" do%>
    <div class="arrow">&#8250;</div>
  <% end %>

</div>

<div class="comments">
  <div>
    <%= render @slide.comments %>
  </div>
  <%= render '/comments/form' %>
</div>
</br>

<%= link_to 'Back', @lecture %>
