<p id="notice"><%= notice %></p>

<div class="row">
  <%= form_tag(lectures_path, :method => "get", id: "search-form") do %>
  <div class="col-lg-4 col-lg-offset-4">
    <%= text_field_tag :search, params[:search], placeholder: "Search by name or tag", class: "form-style search", style: "text-align: center"%>
  </div>
  <% end %>
</div>
<br>
<div class="row">
  <% @lectures.each do |lecture| %>
  <div class="col-xs-6 col-md-3">
    <span class="thumbnail">
      <%=link_to image_tag(lecture.slides.first.path), [lecture]%>
      <hr>
      <h3 style="text-align: center"><%= lecture.name  %></h3>
      <% lecture.tag_list.each do |tag| %>
        <span class="label label-info"> 
          <%= link_to tag, tag_path(tag) %>
        </span>
        <span>&nbsp</span>
      <% end %>
    </span>
  </div>
 <% end %>
</div>
<div class="row">
<div class="col-lg-4 col-lg-offset-5">
  <%= link_to 'Add New Lecture', new_lecture_path, class:"btn btn-default btn-lg" %>
</div>
</div>
<br>