<p id="notice"><%= notice %></p>

<h1 style="text-align: center; color:#00004d;"><%= @lecture .name %></h1>

<div class="row">
  <% @slides.each do |slide| %>
  <div class="col-xs-6 col-md-3">
    <span class="thumbnail">
      <%=link_to image_tag(slide.path), [slide.lecture, slide]%>
    </span>
  </div>
 <% end %>
</div>

<div class="comments">
  <div>
    <%= render @lecture.comments %>
  </div>
  <%= render '/comments/form' %>
</div>

<br>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
