<!DOCTYPE html>
<html>
<head>
  <title>ASULectureOrganiser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= image_tag 'https://placehold.it/150x50', alt: 'App Logo', id: "logo" %></li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Lectures', lectures_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Login', '#' %></li>
        <li><%= link_to 'Sign up', signup_path %></li>
      </ul>
    </nav>
  </div>
</header>

<% flash .each do |key,value|%>
    <p id='<%= key%>'><%= value %></p>
<%end%>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
